header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que a navbar fique acima do conteúdo */
    background: #fff; /* Fundo branco para a navbar */
    border-bottom: 1px solid #ddd; /* Linha de separação */
}


/* Ajuste para a seção home */
#home {
    padding: 80px 20px 20px; /* Espaço no topo para a navbar fixa */
    margin-top: 60px; /* Garante que a seção não fique oculta pela navbar */
    background-color: #f9f9f9;
    text-align: center;
}

#home h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2em;
    color: #666;
}
/* Animação de carregamento */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o GIF fique acima de outros elementos */
    opacity: 1;
    transition: opacity 1s ease-out; /* Transição mais curta para ocultar */
}

#loading-overlay img {
    width: 100%; /* Ajuste o tamanho do GIF conforme necessário */
    height: auto; /* Mantém a proporção do GIF */
}

.title-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out; /* Transição mais curta para ocultar */
}

.title-overlay h1 {
    font-size: 2rem;
    color: #007bff;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para o texto */
    padding: 20px;
    border-radius: 10px;
    animation: fadeOut 1s ease-out forwards; /* Animação mais curta */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
